<div class="container">

 <!--  <button [swal]="{ title: 'Save file as...', input: 'text', showDenyButton: true, denyButtonText: 'Don\'t save', showCancelButton: true }">
    Do it!
  </button> -->

  <form class="form item" #checkoutForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        required
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
      />
      <mat-error *ngIf="name.valid || name.pristine">
        Name is required
      </mat-error>
    </mat-form-field>
    <br/>
    <mat-radio-group class="form__element">
      <p>Choose an option:</p>
      <mat-radio-button value="pickup" (change)="onPickupOrDelivery(false)" >
        Pickup
      </mat-radio-button>
      <mat-radio-button value="delivery" (change)="onPickupOrDelivery(true)" checked>
        Delivery
      </mat-radio-button>
    </mat-radio-group>

    <ng-container *ngIf="isDelivery; else showStores">
      <mat-form-field class="form__element">
        <input type="text"
            matInput
            placeholder="City"
            [(ngModel)]="model.city"
            name="city"
            #city="ngModel"
        />
    </mat-form-field>

    <mat-form-field class="form__element">
      <input type="text"
          matInput
          placeholder="Shipping Address"
          [(ngModel)]="model.shippingAddress"
          name="shippingAdress"
          #shippingAddress="ngModel"
      />
  </mat-form-field>
    </ng-container>

    <ng-template #showStores>
      <mat-form-field class="form__element">
        <mat-label>Select me</mat-label>
        <mat-select [(ngModel)]="model.store"
        name="store"
        #store="ngModel">
            <mat-option [value]="tienda" *ngFor="let tienda of stores">
                {{tienda.name}} - {{tienda.openingHours}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </ng-template>
  </form>
</div>

<app-details></app-details>
<div class="container__button">
    <button [disabled]="!checkoutForm.form.valid"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onSubmit(checkoutForm)">
        Checkout
    </button>
</div>